	/* Tree CSS */
	.jstree-search{
		color: black !important;
		font-style: normal !important;
	}
	
	/*
	.ps-tree {
		padding: 5px;
	}
	*/
	
	
	.ps-tree>div{
		overflow-y: auto;
		max-height: initial !important;
	/*	width: 100%; */
	}
	
	.ps-tree-chooser{
		width: 25px;
		height: 25px;
		font-size: 20px;
		margin-left: 5px;
	}