/* List Control */
.ps-list {
	font-size: 16px;
}

.list-image {
	float: left;
	margin-right: 0.5em;
}

.list-title {
	font-size: 2em;
	margin-bottom: .5em;
	color: #999;
}

.list-container {
	padding-left: 0;
}

.list-container .list-container {
	padding-left: 1em;
}

.list-container .list-item {
	margin-bottom: 1em;
}

.list-container.compact .list-item {
	margin-bottom: 0;
}

.list-item {
	list-style-position: inside;
}

.list-anchor:hover {
	background-color: #F4F4F4;
}

.list-anchor {
	cursor: pointer;
	text-decoration: none;
}

.list-description {
	color: #aaa;
	font-size: 0.75em;

}

.list-label {
	white-space: nowrap;
}

.list-buttons-large .list-label {
	font-size: 2.5em;
	margin-top: 0.75em;
}

.list-buttons-large .list-description {
	font-size: 1em;
}

.list-buttons-medium .list-label {
	font-size: 1.5em;
	margin-top: 0.5em;
}

.list-buttons-small .list-label {
	font-weight: bold;
}

/* list visibility */
.hide-description .list-description {
	display: none;
}

.hide-label .list-label {
	display: none;
}

.hide-image .list-image {
	display: none;
}

.hide-content .list-content {
	display: none;
}