/* List Control */

/* List Controls do not display control toolbars
   Except that they need to because of the new strategy for displaying favorite record data using DDK2_Fav_Record_Detail as a toolbar widget.
[id^="psc_list_"] > .ps-toolbar {
	display: none;
}
*/
 
.ps-list {
	font-size: 16px;
}

.list-image {
	float: left;
	margin-right: 0.5em;
}

.list-title {
	font-size: 2em;
	margin-bottom: .5em;
	color: #999;
}

.list-items.compact .list-item {
	margin-bottom: 0;
}

.list-anchor:hover {
	background-color: #F4F4F4;
}

.list-anchor {
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.list-mode-menu .ddk-icon {
	line-height: initial;
	font-size: 24px;
	vertical-align: middle;
}

.list-mode-menu.off-canvas-list .top-left {
	width: 25%;
	position: absolute;
	top: 0;
	background: #333;
}

.list-mode-menu.off-canvas-list .top-left a {
	height: 47px;
	border: 0;
}

.list-mode-menu.off-canvas-list .settings > a {
	text-align: center;
}

.list-mode-menu .settings.has-dropdown > a:after {
	content: '\0191';
	top: 6px;
	position: absolute;
	right: 10px;
	font-family: ddk_icon;
	font-size: 24px;
}

.top-bar .list-mode-menu .settings.has-dropdown > a:after {
	top: 3px;
	right: 28px;
	border: 0;
	margin: 0;
}

.top-bar .top-bar-section .settings.has-dropdown > a {
	padding-right: 45px !important;
}

.top-bar.expanded .top-bar-section .settings.has-dropdown > a {
	text-align: right;
}

.top-bar.expanded .top-bar-section .settings.has-dropdown > a:after {
	top: 6px;
	right: 32px;
}

.top-bar.expanded .list-mode-menu .top-left {
	width: 25%;
	position: absolute;
	top: 0;
}


/* List Mode: button */
.list-mode-button .list-content {
	color: #aaa;
}

/* default buttons are medium */
.list-mode-button .list-label {
	font-size: 18px;
}

.list-mode-button .list-image {
	height: 32px;
	width: 32px;
}

.list-mode-button .list-image + .list-label {
	display: table-cell;
	vertical-align: middle;
	height: 32px;
}

.list-mode-button .list-content {
	font-size: 0.75em;
}

@media only screen and (min-width: 40.063em) {
	.list-mode-button .list-label {
		font-size: 20px;
	}

	.list-mode-button .list-image + .list-label {
		height: 48px;
	}
	
	.list-mode-button .list-image {
		height: 48px;
		width: 48px;
	}
}

@media only screen and (min-width: 64.063em) {
	.list-mode-button .list-label {
		font-size: 24px;
	}
	
	.list-mode-button .list-image + .list-label {
		height: 64px;
	}

	.list-mode-button .list-image {
		height: 64px;
		width: 64px;
	}

	.list-mode-button .list-content {
		font-size: 1em;
	}
}

/* large buttons */
.list-mode-button.large .list-label {
	font-size: 24px;
}

.list-mode-button.large .list-image {
	height: 64px;
	width: 64px;
}

.list-mode-button.large .list-image + .list-label {
	height: 64px;
}

.list-mode-button.large .list-content {
	font-size: 0.75em;
}

@media only screen and (min-width: 40.063em) {
	.list-mode-button.large .list-label {
		font-size: 36px;
	}

	.list-mode-button.large .list-image + .list-label {
		height: 96px;
	}
	
	.list-mode-button.large .list-image {
		height: 96px;
		width: 96px;
	}
}

@media only screen and (min-width: 64.063em) {
	.list-mode-button.large .list-label {
		font-size: 48px;
	}

	.list-mode-button.large .list-image + .list-label {
		height: 128px;
	}
	
	.list-mode-button.large .list-image {
		height: 128px;
		width: 128px;
	}

	.list-mode-button.large .list-content {
		font-size: 1em;
	}
}


/* small buttons */
.list-mode-button.small .list-label {
	font-size: 16px;
}

.list-mode-button.small .list-image {
	height: 16px;
	width: 16px;
}

.list-mode-button.small .list-image + .list-label {
	height: 16px;
}

.list-mode-button.small .list-content {
	font-size: 0.75em;
}

@media only screen and (min-width: 40.063em) {
	.list-mode-button.small .list-image {
		height: 24px;
		width: 24px;
	}
	
	.list-mode-button.small .list-image + .list-label {
		height: 24px;
	}
}

@media only screen and (min-width: 64.063em) {
	.list-mode-button.small .list-label {
		font-size: 18px;
	}

	.list-mode-button.small .list-image {
		height: 32px;
		width: 32px;
	}
	
	.list-mode-button.small .list-image + .list-label {
		height: 32px;
	}
}

