/* List Control */
.ps-list {
	font-size: 16px;
}

.list-image {
	float: left;
	margin-right: 0.5em;
}

.list-title {
	font-size: 2em;
	margin-bottom: .5em;
	color: #999;
}

.list-items.compact .list-item {
	margin-bottom: 0;
}

.list-anchor:hover {
	background-color: #F4F4F4;
}

.list-anchor {
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.list-label {
	white-space: nowrap;
}

/* List Mode: button */
.list-mode-button .list-content {
	color: #aaa;
}

/* default buttons are medium */
.list-mode-button .list-label {
	font-size: 18px;
}

.list-mode-button .list-image {
	height: 32px;
	width: 32px;
}

.list-mode-button .list-image + .list-label {
	margin-top: 7px;
}

.list-mode-button .list-content {
	font-size: 0.75em;
}

@media only screen and (min-width: 40.063em) {
	.list-mode-button .list-label {
		font-size: 20px;
	}

	.list-mode-button .list-image + .list-label {
		margin-top: 14px;
	}
	
	.list-mode-button .list-image {
		height: 48px;
		width: 48px;
	}
}

@media only screen and (min-width: 64.063em) {
	.list-mode-button .list-label {
		font-size: 24px;
	}
	
	.list-mode-button .list-image + .list-label {
		margin-top: 20px;
	}

	.list-mode-button .list-image {
		height: 64px;
		width: 64px;
	}

	.list-mode-button .list-content {
		font-size: 1em;
	}
}

/* large buttons */
.list-mode-button.large .list-label {
	font-size: 24px;
}

.list-mode-button.large .list-image {
	height: 64px;
	width: 64px;
}

.list-mode-button.large .list-image + .list-label {
	margin-top: 20px;
}

.list-mode-button.large .list-content {
	font-size: 0.75em;
}

@media only screen and (min-width: 40.063em) {
	.list-mode-button.large .list-label {
		font-size: 36px;
	}

	.list-mode-button.large .list-image + .list-label {
		margin-top: 30px;
	}
	
	.list-mode-button.large .list-image {
		height: 96px;
		width: 96px;
	}
}

@media only screen and (min-width: 64.063em) {
	.list-mode-button.large .list-label {
		font-size: 48px;
	}

	.list-mode-button.large .list-image + .list-label {
		margin-top: 40px;
	}
	
	.list-mode-button.large .list-image {
		height: 128px;
		width: 128px;
	}

	.list-mode-button.large .list-content {
		font-size: 1em;
	}
}


/* small buttons */
.list-mode-button.small .list-label {
	font-size: 16px;
}

.list-mode-button.small .list-image {
	height: 16px;
	width: 16px;
}

.list-mode-button.small .list-image + .list-label {
	margin-top: 0;
}

.list-mode-button.small .list-content {
	font-size: 0.75em;
}

@media only screen and (min-width: 40.063em) {
	.list-mode-button.small .list-image {
		height: 24px;
		width: 24px;
	}
	
	.list-mode-button.small .list-image + .list-label {
		margin-top: 4px;
	}
}

@media only screen and (min-width: 64.063em) {
	.list-mode-button.small .list-label {
		font-size: 18px;
	}

	.list-mode-button.small .list-image {
		height: 32px;
		width: 32px;
	}
	
	.list-mode-button.small .list-image + .list-label {
		margin-top: 7px;
	}
}
